<!doctype html>

<html lang="en" ng-app="quizzerApp">
<head>
  <meta charset="utf-8">

  <title>Quizzer</title>
  <meta name="description" content="Quizzer">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="css/style.css">

    <script src="https://code.angularjs.org/1.3.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.10/angular-route.min.js"></script>
  <script src="https://code.angularjs.org/1.3.10/angular-touch.min.js"></script>
  <script src="app.js"></script>


</head>

<body>
  
  <div id="container" ng-controller="MainCtrl" ng-cloak>

    <div class="center">
      <h1  class="txtcenter">Quizzer</h1>
      
    </div>

      <!-- WElcome area-->

      <div id="welcome" class="section" ng-show="currentQuestion<0 && score==-1">
          <p class="txtcenter">Get proud of yourself and resolve the Quiz!</p>
          <p class="center">          <img class="middle" src="img/sabiondo.jpeg">        </p>
          <p class="center">
            <button class="btn-primary middle" ng-click="currentQuestion=0" >Start</button>
          </p>
      </div>

      <!-- QUESTIONS AREA -->
      <div class="section" ng-show="currentQuestion>=0 && score==-1" >
        <h2  class="txtcenter" >{{questions.length-currentQuestion-1}} remaining</h2>
          <ul id="questions"  class='w90'>
              <li class="question" ng-repeat="question in questions" ng-show="currentQuestion==$index">
                     <h4>{{question.title}}</h4>
                     <ul class="options">
                        <li class="option" ng-repeat="option in question.options" ng-click="add(question.id,option.value);">{{option.title}}       </li>
                     </ul>

              </li>
          </ul>
      </div>

      <!-- RESULTS-->
      <div ng-show="score>-1"  class="section">

        <div ng-show="examok">

          <h2 class="txtcenter txtgreen">CONGRATULATIONS</h2>
          <p class="txtcenter"> Your Score is:</p>
          <h2 class="txtcenter">{{score}} / {{responses.length}}</h2>

          <p class="center"> <img class="middle" src="img/homerhappy.png"> </p>

          <p class="txtcenter" ><b>REWARD:</b></p>
          <p class="txtcenter"> <b>Alex</b> will be in Madrid on Tuesday,April 19th</p>

        </div>

        <div ng-hide="examok">

          <h2 class="txtcenter txtred">Sorry</h2>
          <p class="txtcenter">your Score is too Low:</p>
          <h2 class="txtcenter">{{score}} / {{responses.length}}</h2>

          <p class="center">  <img class="middle" src="img/homersad.png">        </p>
          
          <p class="center">
            <button class="btn-primary middle" onclick="location.reload()">Try again</button>
          </p>

        </div>
      </div>


  </div>

</body>




  <script>

  </script>
</html>